/* Import tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global body */
body {
	@apply dark:bg-gray-900 dark:text-white transition-colors overflow-x-hidden;
}

/* Global headings */
h1 {
	@apply text-4xl pb-6;
}

div#tsparticles {
	width: 100%;
	position: absolute;
	z-index: -1;
	height: var(--height);
}
